<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="
		navbar navbar-expand-lg navbar-light
		bg-white
		border-bottom
		pb-3
		mb-4
		sticky-top
		">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Blue<span class="text-primary">Bot</span></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
		data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
			<li class="nav-item">
			<a class="nav-link" href="/topics/frontend/roadmap.html">Roadmaps</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/topics/frontend/documentation.html">Docs</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/topics/frontend/videos.html">Videos</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/components/feedback.html">Feedback</a>
			</li>
		</ul>
		</div>
	</div>
</nav>
