:root{
    --node-original: 200px;
}

#topic{
    display: none;
}

#roadmap-dashboard{
    display: flex;
    flex-wrap: wrap;
}

#roadmap-dashboard > span{
    flex: 1 1 100px;
    padding: 15px 30px;
    cursor: pointer;
    margin: 0 30px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

#roadmap-dashboard > span:hover{
    padding: 16px 32px;
    transition: 0.2s;
}

#new-session{
    background-color: lightgreen;
}

#my-progress{
    background-color: lightskyblue;
}

#clear-progress{
    background-color: tomato;
}

#roadmap-nodes-container{
    width: 100%;
    padding: 0 50px;

    display: flex;
    flex-wrap: wrap;
}

.roadmap-node-container{
    width: var(--node-original);
    min-height: var(--node-original);

    cursor: pointer;

    border-radius: 4px;

    background-color: #1da1f2;
    color: white;

    box-shadow: -5px 5px 10px rgb(0, 0, 0, 0.1);
    transition: 0.5s;

    padding: 20px;

    margin: 20px;
    flex: 1 1 var(--node-original);
}

.roadmap-node-container > h1{
    font-size: 30px;
    color: #333;
}

.roadmap-node-container > a{
    color: white;
}

.roadmap-node-container > p{
    margin-top: 10px;
    font-size: 18px;
    text-align: left;
}

.roadmap-node-container:hover{
    box-shadow: -10px 12px 10px rgb(0, 0, 0, 0.2);
    transition: 0.5s;
}

img{
    max-width: 100%;
}